/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/
body{
    /*font-family: "Open Sans", Helvetica, Arial, sans-serif;*/
    font: 13px/20px "Open Sans", Arial, sans-serif;
    background: url("../img/dohbackground.jpg") no-repeat 0 -312px fixed;
}

ul{
    margin: 0;
    padding: 0;
}

.container{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.header-top {
    background: #f9f9f9;
    height: 40px;
    font-size: 12px;
}

.header-top-login {
    margin: 12px 10% 12px 8.9%;
    position: relative;
    top: -10px;
}

.header-top-login a{
    /*font: 13px/20px "Open Sans", Arial, sans-serif;*/
    margin-left: 10px;
    font-size: 11px;
    letter-spacing: 0.5px;
}

.header-top div{
    display: inline-block;
}

.header-top span{
    display: inline-block;
}

.header-top-social-links{
    padding-top: 8px;
    margin-left: 22%;
}

.social-link{
    height: 24px;
    width: 24px;
}

.social-token{
    width: 24px;
    height: 24px;
    background:white url("../img/social-sprites.png") no-repeat;
    background-position-x: -3px;
    margin-bottom: -7px;
}

.social-link:after{
    visibility: hidden;
    content: "\00a0";
}

/*search*/

.header-top-search{
    float: right;
    width: 20%;
    margin: 5px 10% 5px 5px;
    font-size: 0;
}

@media screen and (max-width: 1200px) {
    .header-top-search form{
        display: none;
    }

    .header-top-social-links{
        float: right;
        margin-right: 20px;
    }
}

.form{
    width: 100%;
}

.search-button, .search-field{
    font-size: 12px;
    padding: 0;
    border: 0;
    height: 28px;
    color: white;
}

.search-field{
    width: 83%;
    color: black;
    border-radius: 5px 0 0 5px;
    text-indent: 0.8em;
    box-shadow: none;
    margin-left: 31px;
    text-align: start;
    font: 13.3333px Arial;
}

.search-field:focus{
    outline: none;
}

.search-button{
    position: absolute;
    background: darkgray;
    width: 30px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    vertical-align: middle;
}

.search-button:hover{
    background: #4936ff;
}

/*tokens*/
.social-token:hover{
    -webkit-transition: background-position-y 0.3s linear;
    -moz-transition: background-position-y 0.3s linear;
    -o-transition: background-position-y 0.3s linear;
    transition: background-position-y 0.3s linear;
}

.social-token-vk{
    background-position-y:92.45%;
    /*-1488/1632*/
}
.social-token-vk:hover{
    background-position-y:93.95%;
    /*-1488/1632*/
}

.social-token-fb{
    background-position-y:6.2%;
    /*-96*/
}
.social-token-fb:hover{
    background-position-y:7.7%;
    /*-96*/
}

.social-token-twitter{
    background-position-y:56.72%;
    /*-912*/
}
.social-token-twitter:hover{
    background-position-y:58.12%;
    /*-912*/
}

.social-token-ok{
    background-position-y:95.4%;
    /*-1536*/
}
.social-token-ok:hover{
    background-position-y:96.9%;
    /*-1536*/
}

.social-token-mail-ru{
    background-position-y:80.5%;
    /*-1296*/
}
.social-token-mail-ru:hover{
    background-position-y:82%;
    /*-1296*/
}

.social-token-live-j{
    background-position-y:98.4%;
    /*-1584*/
}
.social-token-live-j:hover{
    background-position-y:99.9%;
    /*-1584*/
}

.social-token-instagram{
    background-position-y:83.55%;
    /*-1344*/
}
.social-token-instagram:hover{
    background-position-y:85.05%;
    /*-1344*/
}

.content{
    margin-left: 9%;
    margin-right: 8.78%;
}

.header-bottom{
    height: 90px;
    line-height: normal;
}

.header-logo img{
    width: 299px;
    height:71px;
    padding: 14px 0 15px 0;
    margin-top: 11px;
    margin-right: 19px;
}
.header-menu li{
    list-style: none;
}

.header-bottom a,
.header-bottom a:visited,
.header-bottom a:active{
    color: #5f58ac;
    text-decoration: none;
}

.header-menu,
.header-menu a,
.header-logo,
.header-logo img,
.header-menu-item{
    display: inline-block;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
}

.header-menu{
    margin-top: 60px;
    float: right;
    font-size: 0;
}

.header-menu a{
    letter-spacing: 0.17px;
}

.header-menu-item{
    padding: 10px 10px 5px 13px;
    border-radius: 2px 2px 0 0;
    height: 15px;
}

.header-menu-item:hover{
    background: #5f58ac
}

.header-menu-item:hover.header-menu-item a{
    color: white;
}

.arrow{
    color: grey;
    font-size: 8px;
    /*padding-bottom: 20px;*/
    vertical-align: middle;
    margin: 0 2px 0 2px;
}

.header-menu-item:hover .arrow{
    color: white;
}

.header-menu-item:hover .header-sub-menu{
    visibility: visible;
    opacity: 1;
    font-size: 12px;
    background-color: #5f58ac;
}

.header-sub-menu{
    position: absolute;
    visibility: hidden;
    margin-left: -13px;
    border-radius: 0 0 5px 5px;

    -webkit-transition: opacity 0.6s ease-out;
    -moz-transition: opacity 0.6s ease-out;
    -o-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    opacity: 0;
}

.header-sub-menu-item{
     padding: 5px 10px 5px 10px;
     line-height: 25px;
     overflow: hidden;
     display: block;
     position: relative;
     left: inherit;
    transition-duration: 0.1s;
 }

.header-sub-menu-item a{
    font-size: 13px;
}

.header-sub-menu-item:hover{
    background-color: #4c4689;
}

.header-sub-menu:nth-child(1){
    top: 115px;
}
.header-sub-menu:nth-child(2){
    top: 135px;
}
.header-sub-menu:nth-child(3){
    top: 155px;
}
.header-sub-menu:nth-child(4){
    top: 175px;
}
.header-sub-menu:nth-child(5){
    top: 195px;
}

.header-sub-menu-item:nth-child(n){
    border-bottom: #7c759a 1px solid;
}

.header-sub-menu-item:last-child{
    border-bottom: #8028c5 1px solid;
    border-radius: 0 0 5px 5px;
}

@media screen and (max-width: 1200px) {
    .last {
        display: none;
        }
    .header-menu{
        vertical-align: middle;
    }
    }

.slider{
    width: 100%;
    height: 400px;
    background-color: #7c759a;
    line-height: 400px;
    font-size: 22px;
    text-align: center;
    display: block;
}

nav{
    float: right;
}

.text{
    display: block;
    font-weight: 100;
    font-size: 10pt;
    line-height: 20px;
    /*font-family: "Arial", sans-serif;*/
    color: #555555;
    font-style: normal;
    text-align: left;
    text-align-last: left;
    margin-bottom: 10px;
}

.text h1{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: 100;
    line-height: 32px;
    /*margin-bottom: 10px;*/
    word-spacing: -2.4px;
    margin: 26px 0 10px;
    letter-spacing: -1.1px;
    text-transform: full-size-kana;
}

.px14{
    font-size: 24px;
}

button.podrobnee{
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    background-color: #ffffff;
    height: 30px;
    width: auto;
    border-radius: 3px;
    color: #555555;
    /*border-color: #a9a9a9;*/
    padding: 8px 6px 6px 8px;
    border: 1px solid #a9a9a9;
}

.small{
    vertical-align: 3px;
    font-size: 7px;
    font-weight: 100;
}


